#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1024px;
min-width: 1024px;
min-height: 768px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_1 {
position: absolute;
top: 38px;
left: 404px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 20.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_2 {
position: absolute;
top: 95px;
left: 57px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_1 {
position: absolute;
top: 95px;
left: 205px;
width: 573px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_1 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_1 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_3 {
position: absolute;
top: 133px;
left: 57px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_3 span#rtr-s-Text_3_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_2 {
position: absolute;
top: 133px;
left: 205px;
width: 573px;
height: 208px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_2 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_2 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_4 {
position: absolute;
top: 361px;
left: 57px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_4 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_4 span#rtr-s-Text_4_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_3 {
position: absolute;
top: 361px;
left: 205px;
width: 573px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_3 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_3 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_5 {
position: absolute;
top: 399px;
left: 57px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_5 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Text_5 span#rtr-s-Text_5_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_4 {
position: absolute;
top: 399px;
left: 205px;
width: 573px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_4 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Input_4 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_1 {
position: absolute;
top: 437px;
left: 646px;
width: 128px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_2 {
position: absolute;
top: 437px;
left: 205px;
width: 62px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_2 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c #s-Button_2 span#rtr-s-Button_2_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-01b0ebe9-28be-46b4-9345-b0cb9a0bd90c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}